<ion-toolbar>
  <ion-col class="button" >
    <ion-button color="light" (click)="logout()"> <ion-icon name="walk-outline"></ion-icon>Exit</ion-button>
  </ion-col>
  <ion-title class="tittle">Favorites</ion-title>
</ion-toolbar>
<ion-content>
  <ion-row
    *ngFor="let favorite of favorites; let i = index"
    class="containerCat"
  >
    <ion-col size-xs="9" offset-xs="1" offset-xl="3" size-xl="5">
      <app-category
        [category]="favorite"
        (changeStatus)="addFavorites(i,favorite)"
      ></app-category>
    </ion-col>
    <ion-col size="2">
      <ion-icon
        name="eye-outline"
        (click)="getQuotesCat(favorite.name)"
        [hidden]="!favorite.status"
      ></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-xs="8" offset-xs="4" offset-xl="3" size-xl="5">
      <app-button
        [datoButton]="datoButton"
        (valorButton)="omitir()"
      ></app-button>
    </ion-col >
  </ion-row>
</ion-content>
